<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log.pattern">%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}%n%msg%n%n</Property>
        <Property name="file.log.filename">log/log.log</Property>
        <Property name="file.log.pattern">log/log.%i.log</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log.pattern}" />
        </Console>
        <RollingFile name="log" bufferedIO="true" fileName="${file.log.filename}" filePattern="${file.log.pattern}">
            <PatternLayout pattern="${log.pattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" level="info" />
            <AppenderRef ref="log" level="info" />
        </Root>
    </Loggers>
</Configuration>